@import "tailwindcss";

@theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
    --color-primary: #48b2e9;
    --color-primary-highlight: #99ebff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
}
